<h1>Jade's Choose Your Own Adventure</h1>


<%= link_to "Create a New Adventure", new_adventure_path %><br /> <br />

<% @adventures.each do |adventure| %>
			<%=  link_to adventure.title, adventure_path(adventure) %> by: <%=adventure.author %> <br />
	<% end %>

	<h2>Add your library</h2>
	<%= form_for 'add URL' do |f| %>
		<%=f.text_field :url, placeholder: 'Enter URL'%>
		<%=f.submit 'Submit' %>
			<% end %>

