<h1>Create A New Adventure</h1>

<%= form_for @adventure do |f| %>
	<%= f.text_field :title, placeholder: "Adventure Title" %>
	<%= f.text_field :author, placeholder: "Your Name Here" %>
	<%= f.fields_for :pages, @page do |b| %>
		<%= b.hidden_field :name, value: "start"  %>
	<%=b.text_area :text, placeholder: "Start your adventure story here" %>
		<% end %>
	<%=f.submit %>
<% end %>


